<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Blinders eSports - Aplha Testing</title>
</head>
<body class="px-2 py-2 has-background-black-ter">
<article class="message">
  <div class="message-header has-text-white-ter">
    <p>Disclaimer</p>
  </div>
  <div class="message-body has-text-danger">
    If you are seeing this then you are one of our so called lucky alpha testers. We know the interface is shit but trust us, we are trying to wipe it. Contact us at <strong>blinderesports@gmail.com</strong> or at Discord for your suggestions and complaints.
  </div>
</article>

<article class="message is-success">
  <div class="message-header">
    <p>Success</p>
    <a href="/home/" class="button is-danger">Go To Home</a>
  </div>
  <div class="message-body">
    Congratulations, you have supported your favorite team with great zest. You will be rewarded if your bet is correct, please be patient as rewards might take some time to reflect.
  </div>
</article>
</body>