<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Blinders eSports - Aplha Testing</title>
</head>
<body class="px-2 py-2 has-background-black-ter">
<article class="message">
  <div class="message-header has-text-white-ter">
    <p>Disclaimer</p>
  </div>
  <div class="message-body has-text-danger">
    If you are seeing this then you are one of our so called lucky alpha testers. We know the interface is shit but trust us, we are trying to wipe it. Contact us at <strong>blinderesports@gmail.com</strong> or at Discord for your suggestions and complaints.
  </div>
</article>
    <nav class="navbar has-background-danger">
        <div class="navbar-brand is-primary">
            <a href="/home/" class="navbar-item has-text-message">
                <h1 class="is-size-4 has-text-weight-bold has-text-white-ter">Blinders eSports</h1>
            </a>
            <a class="navbar-burger has-text-white-ter" id="burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
        {% if user.is_authenticated %}
            <a href="/profile/" class="navbar-item has-text-weight-bold">Profile</a>
        {% else %}
            <a href="/login/" class="navbar-item has-text-weight-bold">Login</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="navbar-item has-text-weight-bold">Your Balance : {{point.points}}</a>
        {% endif %}
          </div>
        </div>
  </nav>
<div class="section">
  <div class="container px-2 py-2">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="is-size-1 has-text-centered has-text-weight-bold has-text-white-ter">
            {{teambets.match | linebreaks }}
        </h1>
        <h1 class="is-size-3 has-text-centered has-text-white-ter has-text-weight-bold">
          {{teambets.teamOne}} VS {{teambets.teamTwo}}
        </h1>
        <h1 class="is-size-5is-italic has-text-centered has-text-white-ter">
          {{teambets.description | linebreaks }}
        </h1><br>
        <h3 class="subtitle-is-6 has-text-centered has-text-white-ter">
          Match begun at : <span class="subtitle-is-6" id="event-box">{{teambets.datetime | date:"M d, Y H:i:s"}}</span>
        </h3>
        {% if teambets.video_URL != "" %}
        <h6 class="subtitle-is-6 has-text-right">
          <a class="subtitle-is-6 tag is-dark" href="{{teambets.video_URL}}">
          Check Out The Game!!
         </a>
        </h6>
        {% endif %}
        <br>
      <div class="container has-text-centered has-text-white-ter">
        <div class="control">

          <span class="label has-text-white-ter is-size-5">{{option.bet_one | linebreaks }}</span>
          <span class="label has-text-white-ter is-size-5">The correct bet is {{option.bet_one_winner}}</span>
        </div>
      </div>
      <br>
    </form>
  <section class="hero">
        <div class="control" id="hero-body">
            <div class="container">
                <span class="has-text-info">
                {{teambets.betLog |linebreaks }}
                </span>
            </div>
        </div>
  </section>
  </div>
  </div>
  <style>
    #hero-body{
      height: 75px;
      overflow: auto;
    }
  </style>
    <script>
      const burgerIcon = document.querySelector('#burger');
      const navbarMenu = document.querySelector('#nav-links');

      burgerIcon.addEventListener('click', () => {
        navbarMenu.classList.toggle('is-active');
      });
    </script>
</body>
</html>