<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Blinders eSports</title>
</head>
<body class="px-2 py-2">
<article class="message">
  <div class="message-header">
    <p>Disclaimer</p>
  </div>
  <div class="message-body">
    This Website is only for demostration purpose and to give a basic idea of our model. This no where near represents the finished platforme. The original content is in development and if any needed, you can contact us at <strong>blinderesports@gmail.com</strong>.
  </div>
</article>
    <nav class="navbar has-background-grey-lighter has-shadow">
        <div class="navbar-brand is-primary">
            <a href="/home/" class="navbar-item has-text-message">
                <h1 class="is-size-4 has-text-weight-bold">Blinders eSports</h1>
            </a>
            <a class="navbar-burger" id="burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
        {% if user.is_authenticated %}
            <a href="/profile/" class="navbar-item">Profile</a>
        {% else %}
            <a href="/login/" class="navbar-item">Login</a>
        {% endif %}
            <a href="/home/" class="navbar-item">Current Matches</a>
          </div>
        </div>
    </nav>
  <div class="section px-2 py-2">
  {% for teambet in teambets %}
<div class="card my-2 has-shadow-6">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{teambet.image_URL}}" alt="Match Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content py-1">
        {% if teambet.rewarded == False %}
        <a class="title is-5 has-text-weight-bold">{{teambet.match}}</a><br>
        <span class="subtitle is-6 has-text-link"> The rewards are yet to be processed, please be patient.</span>
        {% elif teambet.rewarded == True %}
        <a href="{% url 'detail_previous' teambet.match %}" class="title is-5 has-text-weight-bold">{{teambet.match}}</a><br>
        <span class="subtitle is-6 has-text-success"> The rewards have been processed and are reflected in your account.</span>
        {% else %}
        <a class="title is-5 has-text-weight-bold">{{teambet.match}}</a><br>
        <span class="subtitle is-6 has-text-danger">There is some kind of error, we are trying to resolve it.</span>
        {% endif %}
      </div>
    </div>

    <div class="content">
      {{teambet.description}}
      <br>
      This Match ended at {{teambet.datetime}}
  </div>
</div>
</div>
    {% endfor %}
    </div>
    <script>
      const burgerIcon = document.querySelector('#burger');
      const navbarMenu = document.querySelector('#nav-links');
      
      burgerIcon.addEventListener('click', () => {
        navbarMenu.classList.toggle('is-active');
      });
    </script>  
</body>
</html>