<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Blinders eSports - Aplha Testing</title>
</head>
<body class="px-2 py-2 has-background-black-ter">
    <article class="message">
        <div class="message-header has-text-white-ter">
          <p>Disclaimer</p>
        </div>
        <div class="message-body has-text-danger">
          If you are seeing this then you are one of our so called lucky alpha testers. We know the interface is shit but trust us, we are trying to wipe it. Contact us at <strong>blinderesports@gmail.com</strong> or at Discord for your suggestions and complaints.
        </div>
      </article>
{% if request.user.is_staff  %}
{% for entry in betentry %}
<div class="card my-2 has-shadow-6 has-background-danger">
  <div class="card-content">
    <div class="media">
      <div class="media-content py-1">
        <a href="{% url 'entry_detail' entry.bet_id %}" class="title is-5 has-text-weight-bold has-text-white-ter">{{entry.user_entered}}</a>
      </div>
    </div>
    <div class="content has-text-white-ter">
      {{entry.concerned}}
  </div>
</div>
</div>   
  {% endfor %}
{% endif %}
</body>
</html>